/* ── Global Settings ──────────────────────────── */
configuration {
    modi: "drun,run,filebrowser";
    show-icons: true;
    display-drun: "  Apps";
    display-run: "  Run";
    display-filebrowser: "  Files";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
}

@theme "theme"
